
data/

\.ipynb_checkpoints/

related/

\.env
.vscode/settings.json
images/prophet/c2g_trend.png
images/prophet/c2g.png
images/prophet/evo_trend.png
images/prophet/evo.png
images/prophet/modo_trend.png
images/prophet/modo.png
plots/Car2Go_Multivariable.png
plots/Car2Go_Univariable.png
plots/Evo_Multivariable.png
plots/Evo_Univariable.png
plots/Modo_Univariable.png
plots/Modo_Multivariable.png
plots/Car2Go_Multivariable.png
plots/Car2Go_Univariable.png
plots/Evo_Multivariable.png
plots/Evo_Univariable.png
plots/Modo_Multivariable.png
plots/Modo_Univariable.png
models/c2g_model/saved_model.pb
models/c2g_model/variables/variables.data-00000-of-00001
models/c2g_model/variables/variables.index
models/evo_model/saved_model.pb
models/evo_model/variables/variables.data-00000-of-00001
models/evo_model/variables/variables.index
models/modo_model/saved_model.pb
models/modo_model/variables/variables.data-00000-of-00001
models/modo_model/variables/variables.index
models/unic2g_model/saved_model.pb
models/unic2g_model/variables/variables.data-00000-of-00001
models/unic2g_model/variables/variables.index
models/unievo_model/saved_model.pb
models/unievo_model/variables/variables.data-00000-of-00001
models/unievo_model/variables/variables.index
models/unimodo_model/saved_model.pb
models/unimodo_model/variables/variables.data-00000-of-00001
models/unimodo_model/variables/variables.index
results/LSTM_Car2Go_Multivariable_Predictions_by12Hrs.txt
results/LSTM_Car2Go_Multivariable_Results.json
results/LSTM_Car2Go_Single_Variable_Predictions_by12Hrs.txt
results/LSTM_Car2Go_Single_Variable_Results.json
results/LSTM_Evo_Multivariable_Predictions_by12Hrs.txt
results/LSTM_Evo_Multivariable_Results.json
results/LSTM_Evo_Single_Variable_Predictions_by12Hrs.txt
results/LSTM_Evo_Single_Variable_Results.json
results/LSTM_Modo_Multivariable_Predictions_by12Hrs.txt
results/LSTM_Modo_Multivariable_Results.json
results/LSTM_Modo_Single_Variable_Predictions_by12Hrs.txt
results/LSTM_Modo_Single_Variable_Results.json
